--- 
http_interactions: 
- request: 
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/<%= gcal_id %>/events?sendNotifications=<%= send_notifications %>
    body: 
      encoding: UTF-8
      string: "{\"summary\":\"Test Schedule: Fake User\",\"transparency\":\"transparent\",\"start\":{\"dateTime\":\"2013-10-15T00:00:00+00:00\"},\"end\":{\"dateTime\":\"2013-10-24T00:00:00+00:00\"},\"attendees\":[{\"email\":\"fakeuser@example.com\",\"responseStatus\":\"accepted\"}]}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - Bearer <%= access_token %>
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Etag: 
      - "\"ETAG\""
      Content-Type: 
      - application/json; charset=UTF-8
      Alternate-Protocol: 
      - 443:quic
    body: 
      encoding: US-ASCII
      string: |
        {
         "kind": "calendar#event",
         "etag": "\"FAKE/ETAG\"",
         "id": "<%= gcal_id %>",
         "status": "confirmed",
         "htmlLink": "https://www.google.com/calendar/event?eid=fakehtmllink",
         "created": "2013-10-22T21:18:54.000Z",
         "updated": "2013-10-22T21:18:54.103Z",
         "summary": "Test Schedule: Fake User",
         "creator": {
          "email": "fakeuser@example.com",
          "displayName": "Fake User"
         },
         "organizer": {
          "email": "orgemail@example.com",
          "displayName": "Calendar Name",
          "self": true
         },
         "start": {
          "dateTime": "2013-10-14T20:00:00-04:00"
         },
         "end": {
          "dateTime": "2013-10-23T20:00:00-04:00"
         },
         "transparency": "transparent",
         "iCalUID": "icaluid@example.com",
         "sequence": 0,
         "attendees": [
          {
           "email": "fakeuser@example.com",
           "displayName": "Fake User",
           "responseStatus": "accepted"
          }
         ],
         "hangoutLink": "https://plus.google.com/hangouts/_/calendar/fakehangoutlink",
         "reminders": {
          "useDefault": true
         }
        }

  recorded_at: Tue, 22 Oct 2013 21:18:54 GMT
recorded_with: VCR 2.6.0
