--- 
http_interactions: 
- request: 
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/<%= gcal_id %>/events?fields=items(attendees,description,end,id,start,summary)&singleEvents=true&timeMax=<%= end_date %>&timeMin=<%= start_date %>
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - Bearer <%= access_token %>
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Etag: 
      - "\"ETAG\""
      Content-Type: 
      - application/json; charset=UTF-8
      Alternate-Protocol: 
      - 443:quic
    body: 
      encoding: US-ASCII
      string: |
        {
         "items": [
          {
           "id": "id1",
           "summary": "Fake Schedule One: User One",
           "description": "FAKESCHED1",
           "start": {
            "date": "2013-10-28"
           },
           "end": {
            "date": "2013-11-04"
           },
           "attendees": [
            {
             "email": "userone@example.com",
             "displayName": "User One",
             "responseStatus": "accepted"
            }
           ]
          },
          {
           "id": "id2",
           "summary": "Fake Schedule One: User Two",
           "description": "FAKESCHED2",
           "start": {
            "date": "2013-10-14"
           },
           "end": {
            "date": "2013-10-21"
           },
           "attendees": [
            {
             "email": "usertwo@example.com",
             "displayName": "User Two",
             "responseStatus": "accepted"
            }
           ]
          },
          {
           "id": "id3",
           "summary": "Fake Schedule Two: User One",
           "description": "FAKESCHED2",
           "start": {
            "dateTime": "2013-10-30T14:30:00-04:00"
           },
           "end": {
            "dateTime": "2013-10-30T15:00:00-04:00"
           },
           "attendees": [
            {
             "email": "userone@example.com",
             "displayName": "User One",
             "responseStatus": "accepted"
            }
           ]
          },
          {
           "id": "id4",
           "summary": "Non-PagerDuty Event",
           "description": "Breeze: http://brightcove.adobeconnect.com/picasso\n\nSkype: brightcove.picasso\n\n",
           "start": {
            "dateTime": "2013-10-30T14:30:00-04:00"
           },
           "end": {
            "dateTime": "2013-10-30T15:00:00-04:00"
           }
          }
         ]
        }
  recorded_at: Mon, 21 Oct 2013 22:24:07 GMT
recorded_with: VCR 2.6.0
